html {
    height: 100vh;
    background: #444;
}
body {
    /* fill page */
    /* min-height: 100%; */
    margin: 10%;
    /* center canvases */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

canvas {
    background: #fff;
    box-shadow: 0 5px 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
}
