:root {
    --fg: #eee;
    --bg: #444;
    --blue: rgb(80, 180, 255);
    --purple: rgb(180, 80, 255);
}

html {
    height: 100vh;
    background: var(--bg);
}

body {
    margin: 0 10%;
}

article {
    color: var(--fg);
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    text-align: justify;
    width: 80ch;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

a {
    color: var(--blue);
}

a:visited {
    color: var(--purple);
}

p.note {
    font-size: 0.8rem;
    font-style: italic;
}

p.note code {
    font-style: initial;
}

div#art-wall {
    /* center canvases */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
}

canvas {
    background: var(--fg);
    box-shadow: 0 5px 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
}
