html {
    height: 100vh;
}
body {
    background: #444;
    /* fill page */
    height: 100%;
    margin: 0;
    /* center canvas */
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas#art {
    background: #fff;
    box-shadow: 0 10px 20px;
    max-width: 80vw;
    height: calc(80vw / 16 * 9);
}

